{
  "token": "",
  "cmdPrefix": "!",
  "language" : "",
  "mainChannelID": "",
  "maddb_host": "",
  "maddb_username": "",
  "maddb_password": "",
  "maddb_database": "",
  "maddb_dbport": "",
  "pokesearchdb_host": "",
  "pokesearchdb_username": "",
  "pokesearchdb_password": "",
  "pokesearchdb_database": "",
  "pokesearchdb_dbport": ""
}

